.item {
  display: grid;
  grid-template-columns: 4fr 2fr 1fr;
  gap: 15px;
  align-items: center;

  padding: 10px;
  border-radius: 5px;

  background-color: rgb(45, 64, 26);
}

.item:not(:last-child) {
  margin-bottom: 20px;
}

.item__btns {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
}

.item__edit-btn {
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.item__delete-btn {
    cursor: pointer;
    width: 50px;
    height: 50px;
}

