* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

ol,
ul {
  list-style-type: none;
}

.container {
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 50px;

  background-color: rgb(228, 227, 227);
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}
